{% extends 'website/layout.html.twig' %}

{% block main %}

    <section style="height: 600px">
        <div style="margin: 200px 50px; text-align: center">
            <img class="img-responsive" src="{{ asset('bundles/app/img/construction.png') }}" style="max-width: 500px">
        </div>
    </section>

{% endblock main %}
